@font-face {
  font-family: "Gilroy";
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(../../assets/fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(../../assets/fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter_24pt-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter_24pt-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(../../assets/fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(../../assets/fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter_24pt-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter_24pt-SemiBold.ttf);
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy";
  font-weight: 500;
}

.container {
  max-width: calc(100vw - 160px);
  margin: 0 auto;
}

.section-1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/s1-bgii.png");
  background-position: center;
  background-size: cover;
}
.section-1 header {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.section-1 header nav {
  display: flex;
  align-items: center;
  gap: 60px;
}
.section-1 header nav a {
  color: white;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: all 0.2s ease;
}
.section-1 header nav a:hover {
  color: rgb(181, 159, 159);
}
.section-1 header .shop {
  cursor: pointer;
}
.section-1 h1 {
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 80px;
  margin-bottom: 15px;
}
.section-1 .s1-txt {
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}
.section-1 .search-container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}
.section-1 .search-container .search-input {
  flex: 1;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
  font-size: 16px;
  padding: 0 10px;
}
.section-1 .search-container .search-input::-moz-placeholder {
  color: #ccc;
}
.section-1 .search-container .search-input::placeholder {
  color: #ccc;
}
.section-1 .search-container .search-btn {
  background-color: #ff9800;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section-1 .search-container .search-btn span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}
.section-2 .s2__cards {
  width: 24%;
}
.section-2 .s2__cards h3 {
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 20px;
  font-weight: 700;
}
.section-2 .s2__cards p {
  color: #3f3e3e;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 32px;
}
.section-2 .s2__cards a {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #e58411;
}

.section-3 {
  padding: 50px 0;
  background-color: #f7f7f7;
  margin-bottom: 400px;
}
.section-3 .products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
.section-3 .product {
  border-radius: 20px;
  width: 268px;
  height: 450px;
  background: #fff;
  padding: 21px;
  position: relative;
}
.section-3 .product__title p {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  color: #8d8d8d;
}
.section-3 .product__title b {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 21px;
  text-transform: capitalize;
  color: #0d1b39;
  margin-bottom: 5px;
}
.section-3 .product__title img {
  margin-bottom: 26px;
}
.section-3 .product__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.section-3 .product__price button {
  border-radius: 31px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #0d1b39;
  cursor: pointer;
  border: none;
}
.section-3 .product__price .dollar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
.section-3 .product__price .dollar b {
  font-weight: 600;
  font-size: 21px;
  color: #0d1b39;
}
.section-3 .product__price .dollar b:nth-child(1) {
  font-weight: 600;
  font-size: 15px;
  color: #0d1b39;
  margin-bottom: 12px;
}

.section-4 {
  display: flex;
  align-items: center;
  margin-bottom: 400px;
  background-color: #f9f9f9;
  position: relative;
  flex-direction: row-reverse;
}
.section-4 .s4-img {
  position: absolute;
  left: 0;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.section-4 .content {
  position: absolute;
  right: 150px;
}
.section-4 .content h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}
.section-4 .content p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}
.section-4 .content a {
  font-size: 16px;
  color: #e58411;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: transform 0.3s ease;
}
.section-4 .content a:hover {
  transform: translateX(5px);
}
@media (max-width: 768px) {
  .section-4 {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section-4 .s4-img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.s5 .s5-img {
  position: absolute;
  right: 0;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.s5 .content-s5 {
  left: 110px;
}

.section-6 {
  margin-top: 100px;
}
.section-6 .s6__title {
  margin-bottom: 40px;
}
.section-6 .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}
.section-6 .cards .card {
  width: 31%;
  height: 470px;
  padding: 20px;
  background-image: url(../assets/images/s6-card-img-1.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 0.3s ease;
  position: relative;
}
.section-6 .cards .card:hover {
  transform: scale(1.05);
}
.section-6 .cards .card__title {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 91%;
  height: 200px;
  background-color: white;
  border-radius: 20px;
}
.section-6 .cards .card__title .profile {
  position: relative;
  top: -30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #fff;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
.section-6 .cards .card__title .profile_text {
  margin-top: -25px;
}
.section-6 .cards .card__title .profile_text h3 {
  text-align: center;
  font-size: 24px;
}
.section-6 .cards .card__title .profile_text .Pedagang {
  font-size: 14px;
  color: #8a8989;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}
.section-6 .cards .card__title .profile_text .Terimakasih {
  font-size: 16px;
  color: #585858;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}
.section-6 .cards .card__title .profile_text img {
  display: block;
  margin: 0 auto;
}
.section-6 .cards .bg2 {
  background-image: url(../assets/images/s6-card-img-2.png);
}
.section-6 .cards .bg3 {
  background-image: url(../assets/images/s6-card-img-3.png);
}

footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}
footer .footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
footer .footer__content .footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer__content .footer-links a {
  color: #5f5d5d;
}
footer .footer__content .footer-links .org-link {
  color: #e58411;
}
footer .footer__content .footer-links .social-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */